body {
    background-color:#222831;
    color: #EEEEEE;
    margin: 0%;
    text-align: center;
    font-family: cursive, sans-serif;
}

h1 {
    
margin: 50px auto 0 auto;
font-size: 5.625rem;
line-height: 2;
}

h2 {
    color: #EEEEEE;
}

hr {
  border: dotted #00ADB5;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
  border-width: 10px;

}

.calvo {
    position: relative;
    background-color:#00ADB5;
    padding-top: 150px;
    color: #222831;
    
    
}

.motorola {
    background-color: #222831;
    color: #00ADB5;
    margin-top: 50px;

 
}

.ipipip {
    background-color: #9400D3;
    width: 200px;
    height: 200px;
    border: solid 10px;
    
    
   

}

.nube1 {
    position: absolute;
    right: 350px;
    top: 100px;
    
}
    

.nube2   {
    position: absolute;
 
    left: 300px;
    bottom: 300px;
    
   
    
}
.Odie1 {

    width: 35%;
    float: right;
}

.caca {
    width: 50%;
    float: left;
    margin-right: 30px;

}

.dog {
    font-size: 2.5rem;
    font-weight: normal;
    color: #222831;
}


.skill-row {
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}



.dogo {
    width: 25%;
}

.profile {
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}

.bottom-container {
    width: 40% auto;
    margin: 40px auto 0;
    background-color: #00ADB5;
    padding: 50px 0 20px;

}
.btn {
    
    background: #00ADB5;
    background-image: -webkit-linear-gradient(top, #00ADB5, #3AB4F2);
    background-image: -moz-linear-gradient(top, #00ADB5, #3AB4F2);
    background-image: -ms-linear-gradient(top, #00ADB5, #3AB4F2);
    background-image: -o-linear-gradient(top, #00ADB5, #3AB4F2);
    background-image: linear-gradient(to bottom, #00ADB5, #3AB4F2);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    text-shadow: 1px 1px 3px #222831;
    -webkit-box-shadow: 0px 1px 3px #222831;
    -moz-box-shadow: 0px 1px 3px #222831;
    box-shadow: 0px 1px 3px #222831;
    font-family: cursive, sans-serif;
    color: #EEEEEE;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #222831 3px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .okd {
    margin-bottom: 2%;
  }

  a {

    color: #1C658C;
    font-family: cursive, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EEEEEE;
}

.hola {

    padding: 20px 0;
    font-size: 0.75rem;
}