body {
    background-color:rgb(0, 0, 0);
    color: white;
}

h1 {
    color: red;
    font-size: 75px;

}

img  {
    background-color: red;


}


img.lomosaltado { width: 50%;

border-radius: 100%;

}

#Tomate {

    color: blue;
}



